/* 
CSS garden design file by Jonathan Walker
--------------------------------------------
1: color
2: layout
3: font
4: other decoration
5: media

*/

/*--------------------color------------------*/
html{
    background-color: hsla(125, 30%, 89%, .45);
}
body{
    background-color: hsla(250, 45%, 60%, .5);
    padding: 5%;
}

div.preamble,div.requirement,div.benefits{
    color:rgba(60, 207, 74, 0.95);
    background-color: white;
}

header h1{
    background-color: hsla(0, 50%, 69%, 0.88);
}

footer{
    color:rgba(158, 140, 217, 0.95)
}
div.participation{
    color: gold;
}
aside.sidebar{
    color:maroon
}

/*------Layout-----*/
div,article,section,header,nav,figure,li{
    position: relative;
}

header h1{
    left:100px;
}

aside.sidebar{
    position: absolute;
    top:3%;
    right: 0;
    width: 37%;
}

footer{
    position:fixed;
    width:30%;
    left:45%;
    bottom:0px;
}

section.intro{
    width: 60%;
}

section.intro div.preamble{
    margin-left: -30%;
    padding: 5% 10% 15% 20%;
    border: hsla(0, 50%, 69%, 0.88);
}

div.explanation{
    float: left;
    width: 40%;
    padding: 5%;
}

div.participation{
    margin-left: 50%;
    width: 40%;
    padding: 5%;
}

div.benefits{
    float: left;
    top: 100px;
    width: 40%;
    padding: 5%;
}

div.requirements{
    margin-left: 50%;
    width: 40%;
    padding: 5%;
}

/*----------Font-------------*/
body{
    font-family:'Times New Roman', Times, serif;
}

/* local font */
@font-face {
    font-family: 'myfont';
    src: url('../fonts/chunkfive.woff');
}

header h1{
    font-family: Aldrich,sans-serif;
    text-indent: 99px;
}

a{
    text-decoration: none;
    color:rgba(21, 71, 30, 0.915);
    /*background-image: url('../img/zengarden.gif');*/
}

h2{
    font-size: 4.50;
}

h3{
    font-size: 2.25em;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1em;
}

/* Nav bar on top */

#zen-resources{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: dodgerblue;
}

#zen-resources h3{
    display: none;
}

#zen-reosurces ul li{
    display: inline-block;
    /* width, padding, border */
    list-style: none;
}

/* hover, active practice */

p:hover{
    border: hsla(0, 75%, 69%, 0.88) 5px solid;
}

h3:active~p{
    visibility: hidden;
    /*display: none;*/
}

li:first-of-type{
    color: maroon;
}

p::first-letter{
    font-size: 250%;
    text-transform: uppercase;
}

p:nth-child(3n){
    background-color: yellow;
}

p:nth-child(3n+1){
    background-color: aqua;
}

p:nth-child(3n+2){
    background-color: royalblue;
}

/*textshadow boxshadow border radius transform*/
h3{
    text-shadow: 0.3em 0.3em 0.1em maroon;
    border: black 1px;
    border-radius: 20px 20px 30px 30px;
    box-shadow: -10px -10px 100px blue;
    transition: ease-in-out 3s, transform 3s;
}

/*transform*/
h3:hover{
    transform: translate(5px, 20px);
}

h3 ~p{
    opacity: 1;
    transition: ease-in-out 3s, all 3s;
}

h3:active +p{
    opacity: 0;
    transform: scale(0.5);
}

h2{
    background-image: linear-gradient(red,yellow,blue);
    animation: 4s infinite running movecolor;
}

/*animation--define intermediate state*/

@keyframes movecolor{
    frome{background-image: linear-gradient(red, yellow, blue);}
    30%{background-image: linear-gradient(yellow, blue, red);}
    60%{background-image: linear-gradient(blue, red, yellow);}
}

div{
    background-color:  hsla(200,50%,70%,0.3);
  }
  
  .wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: 100px  repeat(2, 1fr) 100px;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .one{
    grid-column: 2/4;
    grid-row: 2/4;
  }
  
  .two{
    grid-column: 1/ 4;
    grid-row: 1/2;
  }
  
  .three{
    grid-column: 1;
    grid-row: 2/4;
  }
  .four{
    grid-column:4;
    grid-row:1/3;
  }
  .five{
    grid-column: 1/4;
    grid-row: 4;
  }
  .six{
    grid-column: 6/3;
    grid-row: 3/5;
  }